.index.container
    .col-xs-12
        h1 Animals - {{userService.user.name == "" ? "Login" : "Hi " + userService.user.name }}
    .map.col-xs-12
        .home-container
            form(novalidate, name="loginForm", ng-submit="login()", form-autofill-fix, ng-show="userService.user.name == ''")
                .col-lg-offset-4.col-lg-4.col-md-offset-3.col-md-6.login-container
                    .form-group(ng-class="{'has-error': loginForm.name.$invalid}")
                        input.form-control#nameLogin(type="name",
                            name="name", ng-required, ng-model="loginData.name")
                        label(for="nameLogin") Name
                    .form-group(ng-class="{'has-error': loginForm.password.$invalid}")
                        input.form-control#passwordLogin(type="password",
                            name="password", ng-required, ng-minlength="3",
                            ng-model="loginData.password")
                        label(for="passwordLogin") Password
                input.col-lg-offset-4.col-lg-4.col-md-offset-3.col-md-6.col-xs-12.login-button(
                    type="submit", value="Login", ng-disabled="loginForm.$invalid")
                alert.col-lg-offset-4.col-lg-4.col-md-offset-3.col-md-6(ng-repeat="alert in alerts.login",
                    type="{{alert.type}}", close="cancelAlert('login', $index)")
                        | {{alert.message}}