cookie-law-banner(
            message="Wir verwenden Cookies, um Inhalte und Anzeigen zu personalisieren, Funktionen für soziale Medien anbieten zu können und die Zugriffe auf unsere Website zu analysieren."
            accept-text="OK"
            policy-url="http://aboutcookies.org"
            policy-button="true"
            policy-text="Mehr erfahren"
            policy-blank="true")