.row
    .penguin.col-sm-12(ng-show="state.current.name=='penguins.new'")
        h3 New Penguin

.row
    .col-xs-12
        form.form-horizontal(novalidate, name="penguinForm")
            .form-group
                label.col-sm-3.control-label(
                    for="penguinName")
                    | Penguin name
                .col-sm-8(ng-class="{'has-error': penguinForm.name.$invalid && penguinForm.name.$dirty}")
                    input#penguinName.form-control(
                        type="text", placeholder="Penguin name", required,
                        ng-minlength="3", name="name", ng-model="newPenguin.name")
                    span.help-block(
                        ng-show="penguinForm.name.$error.required && penguinForm.name.$dirty")
                        | Field is required.
                    span.help-block(
                        ng-show="penguinForm.name.$error.minlength && penguinForm.name.$dirty")
                        | At least 3 characters.

            .col-sm-6
                button.btn.btn-default.submit-form(
                    type="submit", ng-disabled="penguinForm.$invalid",
                    ng-click="create()")
                    | Create Penguin
            .col-sm-6
                a.btn.btn-default.cancel(
                    type="submit", ui-sref="penguins")
                    | Cancel